body {
    width: 90vw;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding-top: 150px;
    font-size: 1.7rem;
}

@media (min-width: 600px) {
    body {
        width: 45vw;
        /* display:flex; */
    }
}

button {
    padding: 2rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    -webkit-appearance: none;
    border-radius: 20px;
}

img {
    width: 400px;
}

h2 {
    font-size: 2.6rem;
    font-weight: bold;
}
