body {
    width: 90vw;
    margin: auto;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding-top: 200px;
    font-size: 1.7rem;
}

button {
    padding: 48px;
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
}

img {
    width: 400px;
}

h2 {
    font-size: 2.6rem;
    font-weight: bold;
}
